.App {
  text-align: center;
}

.event-form-container {
  margin-bottom: 20px;
}

.event-form-container .form-group {
  margin-bottom: 10px;
}

.event-body {
  width: 100%;
  height: 100px;
  margin-right: 10px;
}

.add-event-btn {
  margin-top: 10px;
  background-color: #4481b4; /* Green color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.calendar {
  height: 500px;
  margin: 50px;
}

.custom-event {
  background-color: #4481b4; /* Cyan color */
  color: white;
  border-radius: 0px;
  border: none;
  font-size: 14px;
  padding: 0px;
  cursor: pointer;
  margin-bottom: 10px;
}

.selected-event {
  background-color: hsl(231, 85%, 60%); /* Red color */
  padding: 20px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-top: 20px;
}

.selected-event h2 {
  margin-top: 0;
}

.event-detail p {
  margin: 5px 0;
}

.close-btn {
  background-color: #207e71; /* Yellow color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
