.App {
	text-align: center;
}


.custom-input {
    text-align: right;
    color: #009a17;
    height: 46px !important;
    line-height: 46px !important;
    &::placeholder {
      color: #009a17;
    }
  }
  .custom-days {
    background-color: #c8daff;
    .is-week-days {
      color: #d20000;
    }
    .is-disabled {
      color: #444;
    }
  }
  .custom-header {
    background-color: #538bff;
  }
  

  .selected-event {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
  }
  
  .selected-event h2 {
    margin-top: 0;
  }
  
  .selected-event p {
    margin: 5px 0;
  }
  
  .selected-event button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .selected-event button:hover {
    background-color: #0056b3;
  }
  